/*
* @Author: dhl
* @Date:   2016-12-12 09:28:40
* @Last Modified by:   dhl
* @Last Modified time: 2016-12-12 11:33:30
*/


/* 底部样式 */
.footer {
	 background-color: #EAEAEA;
}

.footer .top_footer {
	 height: 102px;
	 line-height: 102px;
	 border-bottom: 1px solid #ccc;
}

.footer .top_footer li {
	 float: left;
	 width: 297px;
}

.footer .top_footer p {
	 width: 207px;
	 margin: 0 auto;
	 font-size: 18px;
	 position: relative;
	
}
.footer .top_footer b {
	font-size: 20px;
	width: 36px;
	height: 42px;
	display: block;
	background: url(../img/ico_service.png) no-repeat;
	position: absolute;
	top: 30px;
	text-indent: -2000px;
}


.footer .top_footer .fs {
	 background-position: 0 -43px;

}

.footer .top_footer span {
	 margin-left: 45px;
}



/* 中间盒子 */
.m_footer {
	 height: 200px;
	 border-bottom: 1px solid #ccc;
}

.m_footer dl {
	 float: left;
	 width: 198px;
	 margin-top: 25px;
}

.m_footer dt {
	  height: 28px;
	  color: #444;
	  font-size: 14px;
	  font-weight: 700;

}


.m_footer dd {
	 height: 22px;

}

.m_footer .last-dl {
	 width: 200px;
	 height: 142px;
	 background: url(../img/ico_footer.png) no-repeat;
}

.m_footer .last-dl dt {
	 text-align: center;
}

.m_footer .last-dl p {
	 line-height: 20px;
}

.m_footer .last-dl a {
	  float: right;
}


/* 下边盒子开始 */
.bot_footer {
	 height: 200px;
	 text-align: center;
	 padding-top: 15px;
}

.bot_footer p {
	 margin-top: 10px;
	 font-size: 14px;
}
.bot_footer span {
	 margin: 0 5px;
}
.bot_footer a {
	 color: #444;
}

.p6 {
	 margin-left:  326px;
}
.p6 a {
	 width: 104px;
	 height: 33px;
	 display: block;
	 float: left;
	 background: url(../img/ico_footer.png) no-repeat  0 -151px;
	 margin-right: 5px;
}